// including the head and the navbar partials for the partial directory
<%- include('partials/head')%>

<%- include('partials/navbar')%>
<h1>All The Cats</h1>
<ul>
    <% for(let cat of cats) { %>
    <li><%= cat %></li>
    <% } %>
</ul>
// including the footerr form the partials this will help in code shortening
<%- include('partials/footer')%>